@model UCP1.Models.Detail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomorResiPengiriman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomorResiPengiriman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAdministratorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAdministratorNavigation.IdAdministrator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCustomerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCustomerNavigation.IdCustomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDetailBarangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDetailBarangNavigation.IdDetailBarang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKurirNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKurirNavigation.IdKurir)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDetailBarang">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
