@model IEnumerable<UCP1.Models.Detail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("NomorResiPengiriman")
            </th>
            <th>
                @Html.DisplayName("IdAdministratorNavigation")
            </th>
            <th>
                @Html.DisplayName("IdCustomerNavigation")
            </th>
            <th>
                @Html.DisplayName("IdDetailBarangNavigation")
            </th>
            <th>
                @Html.DisplayName("IdKurirNavigation")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomorResiPengiriman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAdministratorNavigation.IdAdministrator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCustomerNavigation.IdCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDetailBarangNavigation.IdDetailBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKurirNavigation.IdKurir)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetailBarang"><i class="fas fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdDetailBarang"><i class="fas fa-marker fa-lg"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetailBarang"><i class="fas fa-marker fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
