@model IEnumerable<UCP1.Models.Detail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomorResiPengiriman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAdministratorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCustomerNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDetailBarangNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKurirNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomorResiPengiriman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAdministratorNavigation.IdAdministrator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCustomerNavigation.IdCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDetailBarangNavigation.IdDetailBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKurirNavigation.IdKurir)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetailBarang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetailBarang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetailBarang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
