@model UCP1.Models.Barang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Barang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaPengirim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaPengirim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaPenerima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaPenerima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomorResiPengiriman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomorResiPengiriman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlamatPengirim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlamatPengirim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlamatTujuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlamatTujuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeratBarang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeratBarang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Harga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Harga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusBarang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusBarang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDetailBarang">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
