@model IEnumerable<UCP1.Models.Barang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaPengirim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaPenerima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomorResiPengiriman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlamatPengirim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlamatTujuan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeratBarang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Harga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusBarang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaPengirim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaPenerima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomorResiPengiriman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlamatPengirim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlamatTujuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeratBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Harga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusBarang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetailBarang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetailBarang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetailBarang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
