@model IEnumerable<UCP1.Models.Barang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("NamaPengirim")
            </th>
            <th>
                @Html.DisplayName("NamaPenerima")
            </th>
            <th>
                @Html.DisplayName("NomorResiPengiriman")
            </th>
            <th>
                @Html.DisplayName("AlamatPengirim")
            </th>
            <th>
                @Html.DisplayName("AlamatTujuan")
            </th>
            <th>
                @Html.DisplayName("BeratBarang")
            </th>
            <th>
                @Html.DisplayName("Harga")
            </th>
            <th>
                @Html.DisplayName("StatusBarang")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaPengirim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaPenerima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomorResiPengiriman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlamatPengirim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlamatTujuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeratBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Harga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusBarang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetailBarang"><i class="fas fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdDetailBarang"><i class="fas fa-marker fa-lg"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetailBarang"><i class="fas fa-marker fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
