@model IEnumerable<UCP1.Models.Kurir>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("NamaKurir")
            </th>
            <th>
                @Html.DisplayName("NomorTelepon")
            </th>
            <th>
                @Html.DisplayName("IdPerusahaan")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaKurir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomorTelepon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPerusahaan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdKurir"><i class="fas fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdKurir"><i class="fas fa-marker fa-lg"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdKurir"><i class="fas fa-marker fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
